a {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    color: lightgray;
}

.nav-caption {
    display: inline-block;
    padding-left: 10px;
}

.icon {
    height: 20px;
    width: 20px;
    display: block;
    /* Other styles here */
}

.icon {
    cursor: pointer;
    background: pink;
    background: -webkit-radial-gradient(33% 100% circle, #515ECF 4%, rgb(11, 26, 92) 30%, rgb(8, 25, 121) 62%, rgb(19, 76, 161) 85%, rgb(59, 47, 167));
    background: radial-gradient(circle at 33% 100%, blue 4%, rgb(20, 106, 134) 28%, #0a6c92 62%, blue 85%, blue);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}