<div>
    <!-- <mat-nav-list> -->
    <!-- <div *ngFor="let tab of dataService.navLinks">
        <a mat-list-item [routerLink]="tab.link" (click)="onSidenavClose()">
            <mat-icon style="color: white">{{tab.matIcon}}</mat-icon> <span style="color: white"
                (click)="setExamination(tab.label)" class="nav-caption">{{tab.label}}</span>
        </a> 
    </div> -->
    <a mat-list-item (click)="openProfile()" style="position: absolute; left: 0; bottom: 14%;color: white">
        <mat-icon>person</mat-icon> <span class="nav-caption">Felhasználó</span>
    </a>
    <a mat-list-item (click)="openNewsDialog()" style="position: absolute; left: 0; bottom: 7%;color: white">
        <mat-icon [matBadge]="numberOfNews" matBadgeColor="warn">new_releases</mat-icon>
        <span class="nav-caption">Értesítések</span>
    </a>
    <a mat-list-item (click)="logout()" style="position: absolute; left: 0; bottom: 0;color: white">
        <mat-icon>power_settings_new</mat-icon> <span class="nav-caption">Kijelentkezés</span>
    </a>
<!-- </mat-nav-list> -->
</div>