@media only screen and (min-width: 1024px) {
    .bar-chart {
      width: 49%;
      height: 50%;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .bar-chart {
      width: 50%;
      height: 50%;
    }
  }
  
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .bar-chart {
      width: 100%;
      height: 50%;
    }
  }
  
  @media only screen and (min-width: 0px) and (max-width: 600px) {
    .bar-chart {
      width: 100%;
      height: 50%;
    }
  }