<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Munkacsoportok</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment style="margin-bottom: 5%;" color="tertiary" value="listWorkGroups" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="listWorkGroups">
      <ion-label>Lista</ion-label>
    </ion-segment-button>
    <ion-segment-button value="createWorkGroup">
      <ion-label>Létrehozás</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="listWorkGroups">
    <ion-card class="segment" color="tertiary">
      <ion-title style="padding-top:1%; padding-bottom: 1%;">Munkacsoportok listája</ion-title>
      <ion-list>
        <ion-radio-group color="tertiary">
          <ion-item-sliding *ngFor="let item of workGroups">

            <ion-item lines="inset">
              <ion-radio style="margin-right: 5%;"></ion-radio>
              <ion-label><b>{{item.name}}</b></ion-label>
              <ion-label><i>{{item.creationDate}}</i></ion-label>
              <ion-buttons>
                <ion-button color="dark" (click)="openModal(item.id)">
                  <ion-icon slot="icon-only" name="open-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option (click)="removeGroup(item)" color="danger">
                <ion-icon name="trash-outline" slot="end"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-radio-group>
      </ion-list>
    </ion-card>
  </div>

  <div *ngIf="createWorkGroup" [formGroup]="workGroup">
    <ion-card class="segment" color="medium">
      <ion-title style="padding-top:1%; text-align: center;">Munkacsoport létrehozása</ion-title>

      <ion-card>
        <ion-item>
          <ion-label positon="floating">
            <b>Munkacsoport neve:</b>
          </ion-label>
          <ion-input formControlName="name"></ion-input>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label positon="floating">
            <b>Intézet:</b>
          </ion-label>
          <ion-input formControlName="institution"></ion-input>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label positon="floating">
            <b>Vezető:</b>
          </ion-label>
          <ionic-selectable
          [(ngModel)]="selectedUser"
          formControlName="leader" [items]="users"
          itemValueField="id" itemTextField="name">
          </ionic-selectable>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label positon="floating">
            <b>Tagok:</b>
          </ion-label>
          <ion-input formControlName="members"></ion-input>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label positon="floating">
            <b>Típus:</b>
          </ion-label>
          <ion-input formControlName="type"></ion-input>
        </ion-item>
      </ion-card>
      <div style="margin-bottom: 1%; display:flex; justify-content: center;">
        <ion-button color="tertiary" type="submit" (click)="saveWorkGroup()" [disabled]="!workGroup.valid">Létrehozás</ion-button>
        <ion-button color="danger" (click)="workGroup.reset()">Elvet</ion-button>
      </div>
    </ion-card>
  </div>

</ion-content>