<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Munkacsoportok</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment style="margin-bottom: 5%;" color="tertiary" value="listWorkGroups" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="listWorkGroups">
      <ion-label>Lista</ion-label>
    </ion-segment-button>
    <ion-segment-button value="createWorkGroup">
      <ion-label>Létrehozás</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="listWorkGroups">
    <ion-card id="segmentList" color="tertiary">
      <ion-title style="position: absolute; padding-top: 2.2%;">
        Munkacsoportok listája
      </ion-title>
        <ion-buttons style="display: flex; justify-content: flex-end;" type="small">
          <ion-button (click)="information()" style=" justify-content: right;">
            <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
     
      <ion-list>
        <ion-radio-group color="tertiary">
          <ion-item-sliding *ngFor="let item of workGroups">

            <ion-item lines="inset">
              <ion-radio (click)="chooseWorkGroup(item.id)" style="margin-right: 5%;" ></ion-radio>
              <ion-label><b>{{item.name}}</b></ion-label>
              <ion-label><i>{{item.creationDate}}</i></ion-label>
              <ion-buttons>
                <ion-button color="dark" (click)="openModal(item.id)">
                  <ion-icon slot="icon-only" name="open-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option (click)="removeGroup(item)" color="danger">
                <ion-icon name="trash-outline" slot="end"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-radio-group>
      </ion-list>
    </ion-card>
  </div>

  <div *ngIf="createWorkGroup" [formGroup]="workGroup">
    <ion-card id="segmentCreate" color="tertiary">
      <ion-title style="padding-top:1%; padding-bottom: 1%; text-align: center;">Munkacsoport létrehozása</ion-title>
      <ion-list>
        <ion-item>
          <ion-label positon="floating">
            <b>Név:</b>
          </ion-label>
          <ion-input formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label positon="floating">
            <b>Intézet:</b>
          </ion-label>
          <ion-input formControlName="institution"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label positon="floating">
            <b>Típus:</b>
          </ion-label>
          <ion-input formControlName="type"></ion-input>
        </ion-item>

        <div style="margin-bottom: 1%; margin-top: 2%; display:flex; justify-content: center;">
          <ion-button color="tertiary" type="submit" (click)="saveWorkGroup()" [disabled]="!workGroup.valid">Létrehozás
          </ion-button>
          <ion-button color="danger" (click)="workGroup.reset()">Elvet</ion-button>
        </div>
      </ion-list>
    </ion-card>
  </div>

</ion-content>