.segment {
    top: 3%;
    width: 60%;
    margin: auto;
}

ion-list {
    ion-item:hover {
        --ion-background-color: #d7d8da !important;
    }
}

ion-item-sliding:active {
    --ion-background-color: #d7d8da !important;
}
