.center {
    width: 100%;
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center
}

@media only screen and (min-width:501px) {
    mat-toolbar {
        height: 5%;
    }
}

@media only screen and (min-width:0px) and (max-width:500px) {
    mat-toolbar {
        height: 10%;
    }
}

mat-toolbar {
    background-color: white;
    width: 100%;
}

mat-divider {
    width: 100%;
}

a {
    color: black;
}

img {
    width: 15ex;
    height: 5ex;
}

::ng-deep .cdk-overlay-pane .news-dialog {
    max-height: 50% !important;
    overflow-y: scroll !important;
}

::ng-deep .mat-tab-header,
.mat-tab-nav-bar {
    border-bottom: none !important;
}

#title {
    padding-top: 1.5%;
    color: white;
    margin-bottom: 1.5%;
    display: inline-block;
    font-size: 25px;
    font-style: italic;
}

.navigateButton {
    color: white;
    margin-bottom: 1.5%;
    margin-top: 1%;
    display: inline-block;
    font-size: 50px;
    margin-right: 5%;
}

.navigateButton:active {
    color: grey;
}

#dataMenu {
    margin-top: 0.45%;
}