.center {
    width: 100%;
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center
}

#title {
    padding-top: 1.5%;
    color: white;
    margin-bottom: 1.5%;
    display: inline-block;
    font-size: 25px;
    font-style: italic;
}

.navigateButton {
    color: white;
    margin-bottom: 1.5%;
    margin-top: 1%;
    display: inline-block;
    font-size: 50px;
    margin-right: 5%;
    cursor: pointer;
}

#dataMenu {
    margin-top: 0.45%;
}