img {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.inputs {
    padding-top: 2%;
}

.buttons {
    padding-top: 2%;
}

mat-card {
    width: 50%;
}