<div align="center" style="padding-top:5%">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1 style="font-weight: bold; color: #00bea6">FOG-OF</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img src="../../assets/Dermatology-illustration.png">
      <div align="center">
        <h2 style="font-weight: bold; color: #00bea6">Bejelentkezés</h2>
        <div style="color: red; padding-top: 2%">
          {{errorMessage}}
        </div>
        <div class="inputs">
          <form [formGroup]="userForm" (submit)="login()" action="#">
            <mat-form-field>
              <input id="email" formControlName="email" matInput placeholder="E-mail" rows="1">
            </mat-form-field>
            <br>
            <mat-form-field>
              <input id="password" formControlName="password" matInput placeholder="Jelszó" type="password" rows="1">
            </mat-form-field>
          </form>
        </div>
        <div class="buttons">
          <button mat-raised-button color="primary" id="login" (keyup.enter)="login()" (click)="login()">Bejelentkezés</button>
        </div>
        
      </div>
    </mat-card-content>
  </mat-card>
</div>