<mat-chip-list class="newsChipsList">
    <mat-chip disableRipple *ngFor="let news of data; let i=index" class="newsChip">
        <div class="text-inside-grid">
            <div  mat-card-avatar
                class="example-header-image newsIcon">
                <mat-icon class="biggerIcon">new_releases</mat-icon>
            </div>
            <mat-label>
            <b>Értesítés típusa: </b>
            <mat-label *ngIf="news.type == 'new'" style="padding-left: 1ex;padding-top: 1.8ex">Új feltöltés</mat-label>
            <mat-label *ngIf="news.type == 'closed'" style="padding-left: 1ex;padding-top: 1.8ex">Vizsgálatot
                lezárták</mat-label></mat-label>
                <br>
                <mat-label> <b>Vizsgálat azonosító: </b>
            <p class="fake-link" style="padding-left: 1ex;padding-top: 1.8ex" (click)="openExam(news)">
                {{news.examinationID}}</p></mat-label>
                <br>
            <mat-label> {{news.date}}</mat-label>
        </div>
    </mat-chip>
</mat-chip-list>