<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Csoportstatisztika</ion-title>
  </ion-toolbar>
</ion-header>

<mat-tab-group id="group" (selectedTabChange)="tabChanged($event)" #tabGroup color="primary">
  <mat-tab label="Elemzések" style="color: white">
    <div style="width:95%; padding-top:2%; padding-left: 5%">
      <app-analyzes></app-analyzes>
    </div>
  </mat-tab>
  <mat-tab label="Országos rangsor" value="global">
    <div style="width:100%;">
      <app-rankings></app-rankings>
    </div>
  </mat-tab>
  <mat-tab label="Munkacsoport rangsor" value="global">
    <div style="width:100%;">
      <app-rankings></app-rankings>
    </div>
  </mat-tab>
</mat-tab-group>