<ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Vizsgálatok</ion-title>
    </ion-toolbar>
  </ion-header>

<div class="body">
<div *ngIf="!examinationDetails && loaded | async" (window:resize)="onResize($event)">
    <div class="filterList">
        <div
            [ngClass]="{'filterItem' : selectedTab == 'Diagnózis','filterItem2' : selectedTab == 'Vizsgálatok' }">
            <mat-button-toggle-group [(ngModel)]="radioGroup">
                <mat-button-toggle style="width:55%" (click)="updateFilterValue('creationDate')" value="creationDate">
                    Létrehozás dátuma
                </mat-button-toggle>
                <mat-button-toggle style="width:45%" (click)="updateFilterValue('expirationDate')"
                    value="expirationDate">Lejárati dátuma
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div
            [ngClass]="{'filterItem' : selectedTab == 'Diagnózis','filterItem2' : selectedTab == 'Vizsgálatok' }">  
        </div>
        <div style="margin-left: 5%;"
            [ngClass]="{'filterItem' : selectedTab == 'Diagnózis','filterItem2' : selectedTab == 'Vizsgálatok' }">
            <mat-form-field class="filter-by-pr">
                <mat-select (selectionChange)="addPractitionerToFilter()" [formControl]="practitionersMultiCtrl"
                    placeholder="Szűrés felvevő orvos alapján" [multiple]="true" #multiSelect>
                    <ngx-mat-select-search [formControl]="practitionersMultiFilterCtrl"
                        [placeholderLabel]="'Keresés...'" [noEntriesFoundLabel]="'Nincs találat'">
                    </ngx-mat-select-search>
                    <mat-option *ngFor="let staff of filteredPractitionersMulti | async" [value]="staff">
                        {{staff.prefix}} {{staff.family}} {{staff.given}} {{staff.suffix}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="selectedTab !='Vizsgálatok'" class="filterItem slider">
            <mat-slide-toggle [(ngModel)]="slider" (change)="updateHistoData($event)" color="primary">Diagnosztizáltak
                megjelenítése</mat-slide-toggle>
        </div>
    </div>
    <div *ngIf="selectedTab !='Diagnózis'" style="padding-top: 3%; margin-left: auto; margin-right: auto"
        [ngStyle]="{'width': windowWidth < 1050 ? '100%' : '75%' }">
        <div class="categories">
            <mat-expansion-panel
                style="border-left: 15px solid #22aa06; border-right: 15px solid #22aa06;border-top: 1px solid #22aa06">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <strong>Diagnosztizált</strong>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngIf="diagnoseCategories.length == 0" style="padding-left: 40%">
                    <p>Nincs megjeleníthető vizsgálat</p>
                </div>
                <div *ngIf="diagnoseCategories.length != 0">
                    <div *ngFor="let categories of diagnoseCategories; let i = index">
                        <div style="padding-top:2%">
                            <mat-expansion-panel
                                style="border-left: 2px solid grey; border-right: 2px solid grey;border-top: 1px solid grey;">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <strong>{{categories}}</strong>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-chip-list class="examinatiosChipsList">
                                    <mat-chip disableRipple
                                        *ngFor="let examination of getExaminationsByDiagnose(categories)"
                                        class="examinationChip">
                                        <div *ngIf="windowWidth > 500" mat-card-avatar
                                            class="example-header-image customIcon">
                                            <mat-icon class="biggerIcon">assignment</mat-icon>
                                        </div>
                                        <div class="infos">
                                            <mat-label center><b>Vizsgálat azonosító: </b>
                                                <p class="fake-link" (click)="openVisit(examination.examinationID)">
                                                    {{examination.examinationID}}</p>
                                            </mat-label>
                                            <br>
                                            <mat-label center><b>Határidő:
                                                </b>{{examination.expirationDate}}</mat-label>
                                            <br>
                                            <mat-label center><b>Létrehozva: </b>
                                                {{examination.creationDate}}</mat-label>
                                            <br>
                                            <mat-label center><b>Diagnózis: </b>
                                            </mat-label>
                                            <br>
                                            <mat-label class="diagnosticStyle" center>
                                                {{examination.diagnostics}}</mat-label>
                                        </div>
                                    </mat-chip>
                                </mat-chip-list>
                            </mat-expansion-panel>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
            <div style="padding-top: 2%; margin-bottom: 10%;">
                <mat-expansion-panel
                    style="border-left: 15px solid #ff8668; border-right: 15px solid #ff8668; border-top: 1px solid #ff8668;">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>Diagnosztizálatlan</strong>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-card-content style="padding-left: 40%" *ngIf="undiagnosedExaminations.length == 0">
                        <p>Nincs megejeleníthető vizsgálat</p>
                    </mat-card-content>
                    <mat-chip-list class="examinatiosChipsList" *ngIf="undiagnosedExaminations.length != 0">
                        <mat-chip disableRipple *ngFor="let examination of undiagnosedExaminations"
                            class="undiagExaminationChip">
                            <div *ngIf="windowWidth > 500" mat-card-avatar class="customIcon example-header-image">
                                <mat-icon class="biggerIcon">assignment</mat-icon>
                            </div>
                            <div class="infos">
                                <mat-label center><b>Vizsgálat azonosító: </b>
                                    <p class="fake-link" (click)="openVisit(examination.examinationID)">
                                        {{examination.examinationID}}</p>
                                </mat-label>
                                <br>
                                <mat-label center><b>Határidő:
                                    </b>{{examination.expirationDate}}</mat-label>
                                <br>
                                <mat-label center><b>Létrehozva: </b>
                                    {{examination.creationDate}}</mat-label>
                            </div>
                        </mat-chip>
                    </mat-chip-list>
                </mat-expansion-panel>
            </div>
        </div>
    </div>
    <div *ngIf="selectedTab !='Vizsgálatok'" class="histological" style="padding-top: 4%">
        <div class="cardList">
            <ng-container *ngFor="let examination of histoData; let i = index;" fxLayoutAlign="start start"
                fxLayout="row">
                <mat-card style="width:30%; float: left;padding-top: 1%" class="cardListItem" fxFlex="33"
                    [ngStyle]="{'border': examination.diagnostics=='none' ? '2px solid #ff8668' : '2px solid #22aa06' }">
                    <mat-card-content>
                        <mat-list>
                            <mat-list-item>
                                <div mat-card-avatar class="mat-card-avatar-v2">
                                    <mat-icon>assignment</mat-icon>
                                </div>
                                <p class="fake-link" (click)="openVisit(examination.examinationID)">
                                    {{examination.examinationID}}
                                </p>
                            </mat-list-item>
                            <br />
                            <mat-list-item>
                                <b>Határidő: </b>
                                <mat-label style="padding-left: 0.5ex;"> {{examination.expirationDate}}</mat-label>
                            </mat-list-item>
                            <mat-list-item>
                                <b>Létrehozva: </b>
                                <mat-label style="padding-left: 0.5ex;"> {{examination.creationDate}}</mat-label>
                            </mat-list-item>
                            <mat-list-item>
                                <b>Páciens neve: </b>
                                <mat-label style="padding-left: 0.5ex;"> {{examination.patientName}}</mat-label>
                            </mat-list-item>
                            <mat-list-item>
                                <b>Tajszám: </b>
                                <mat-label style="padding-left: 0.5ex;"> {{examination.patientTaj}}</mat-label>
                            </mat-list-item>
                            <br>
                            <mat-list-item>
                                <b>Diagnózis: </b>
                                <mat-label style="padding-left: 0.5ex;" *ngIf="tempDiagnoses[i] =='none'"> Nincs
                                </mat-label>
                                <mat-label style="padding-left: 0.5ex;" *ngIf="tempDiagnoses[i] !='none'">
                                    {{tempDiagnoses[i]}}</mat-label>
                            </mat-list-item>
                        </mat-list>
                        <div style="padding-top: 4%">
                            <mat-expansion-panel
                                style="border-left: 2px solid #5260ff; border-right: 2px solid #5260ff;border-top: 1px solid #5260ff;">
                                <mat-expansion-panel-header>
                                    <p style="font-size: medium">Diagnózis megadása</p>
                                </mat-expansion-panel-header>
                                <mat-form-field>
                                    <mat-select placeholder="Adja meg a diagnózist">
                                        <mat-option *ngFor="let diagnose of diagnoses" [value]="diagnose"
                                            (click)="updateTempDiagnose(diagnose,i)" ngDefaultControl>
                                            {{diagnose}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-action-row>
                                    <button color="primary" (click)="saveDiagnose(i, examination.examinationID)"
                                        mat-button>Mentés</button>
                                    <button color="warn" (click)="rejectChanges(i)" mat-button>Elvetés</button>
                                </mat-action-row>
                                <div style="padding-top: 3%">
                                </div>
                            </mat-expansion-panel>
                        </div>
                    </mat-card-content>
                </mat-card>
            </ng-container>
        </div>
    </div>
</div>
<div *ngIf="examinationDetails">
    <app-examination-details (closeExaminationDetails)="closeDetails($event)"></app-examination-details>
</div>
<br />
</div>