<ul>
  <li *ngFor="let news of data; let i=index">
      <div class="text-inside-grid">
          <mat-card>
              <mat-card-content>
                  <mat-list>
                      <mat-list-item>
                          <strong>Értesítés típusa: </strong>
                          <p *ngIf="news.type == 'new'" style="padding-left: 1ex;padding-top: 1.8ex">Új feltöltés</p>
                          <p *ngIf="news.type == 'closed'" style="padding-left: 1ex;padding-top: 1.8ex">Vizsgálatot
                              lezárták</p>
                      </mat-list-item>
                      <mat-list-item>
                          <strong>Vizsgálat azonosító: </strong>
                          <p class="fake-link" style="padding-left: 1ex;padding-top: 1.8ex" (click)="openExam(news)">
                              {{news.examinationID}}</p>
                      </mat-list-item>
                      <mat-list-item> {{news.date}}</mat-list-item>
                  </mat-list>
              </mat-card-content>
          </mat-card>
      </div>
  </li>
</ul>