<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Wall</ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="loaded | async">
  <mat-card class="profile-style">
    <div class="centered">
      <mat-list style="display:inline-block">
        <h3 class="header-style" mat-subheader>Felhasználói adatok</h3>
        <mat-list-item class="person">
          <mat-icon mat-list-icon>person</mat-icon>
          <h4 mat-line>{{userName}}</h4>
          <p mat-line> {{user.rank}} </p>
        </mat-list-item>
        <mat-list-item>
          <mat-label center><b>Munkacsoport: </b> {{userWorkgroup}} </mat-label>
        </mat-list-item>
        <mat-list-item>
          <mat-label><b>Regisztráció: </b> {{user.registration}} </mat-label>
        </mat-list-item>
        <mat-list-item>
          <mat-label><b>Dermatoszkóp használat: </b></mat-label>
          <mat-form-field class="matSelectStyle">
            <mat-select [(value)]="dermatoscopeExperience">
              <mat-option *ngFor="let option of options" [value]="option"
                (click)="updateDermatoscopeExperience(option)">
                {{option}} év
              </mat-option>
            </mat-select>
          </mat-form-field>

        </mat-list-item>
      </mat-list>
    </div>
  </mat-card>
</div>