<div style="text-align: center;">
<a *ngIf="containerName == 'staff'">
 <p> Szeretné a munkacsoporthoz hozzáadni <strong>{{practitionerName}}</strong> nevű felhasználót?</p>
</a>
<a *ngIf="containerName != 'staff'">
   <p>Biztosan eltávolítja a munkacsoportból <strong>{{practitionerName}}</strong> nevű felhasználót?</p>
</a>
<div style="padding-top: 5%;">
  <div style="display: inline-block;">
    <ion-button  (click)="saveChanges()" color="tertiary">Igen</ion-button>
  </div>
  <div style="display: inline-block;padding-left: 2%">
    <ion-button  (click)="discardChanges()" color="danger">Nem</ion-button>
  </div>
</div>
</div>